.blocks{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.block{
    border-radius: var(--radius-block);
    background-color: var(--background-block);
    padding: var(--pading-block);
    display: flex;
    justify-content: space-between;
}

.ico{
    padding-top: 6px;
}