.wrap{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.block{
    padding: var(--pading-block);
    background-color: var(--background-block);
    border-radius: var(--radius-block);
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.main_item{
    display: flex;
    justify-content: space-between;
}

.item{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--border-color);
    padding-top: 5px;
}

.not_active{
    color: var(--additional-text-color);
}

.time_display {
    cursor: pointer;
}

.time_picker_overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--background-block);
    padding: var(--pading-block);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.time_input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--tg-theme-hint-color);
    border-radius: 8px;
    font-size: 1.2em;
    color: var(--tg-theme-text-color);
    background-color: var(--tg-theme-secondary-bg-color);
}

.drag_handle {
    width: 40px;
    height: 5px;
    background-color: var(--border-color); /* A more prominent color */
    border-radius: 2.5px;
    margin: 10px auto; /* Center it horizontally */
    cursor: grab;
    touch-action: none; /* Prevents browser default touch behavior */
}